.header {
  text-align: center;
  margin-bottom: 35px;
}

.header-button {
  margin-left: 20px;
}

.chart-container {
  height: 310px;
  overflow: scroll;
  margin-right: 50px;
  margin-top: 25px;
}

.bdc {
  border: 15px solid transparent;
}
